
<footer id="main-footer" class="text-center">
  <p>
    {{'footer.description' | translate}}
    <a href="https://github.com/AlexITC/crypto-coin-alerts">GitHub</a>.
  </p>

  <p>
    {{'footer.stayUpdatedMessage' | translate}}
    <a href="https://twitter.com/c_coin_alerts">
      <img src="assets/twitter-logo.png" alt="Twitter" border="0" width="30" height="30" >
    </a>
    <a href="https://www.facebook.com/cryptocoinalerts.net/">
      <img src="assets/facebook-logo.png" alt="Facebook" border="0" width="30" height="30" >
    </a>
  </p>
</footer>
