#main-footer {
  border-top: solid #DCDCDC 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em 1em;
  height: 150px;
  background-color: #f5f5f5;
}

#main-footer p {
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  #main-footer p {
    font-size: 1.2em;
  }
}
