
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate role="form" class="form-horizontal">

  <div [ngClass]="{ 'has-error': hasWrongValue('email'), 'has-success': hasCorrectValue('email') }"
       class="form-group">
    <label for="email" class="col-xs-3 col-sm-3 col-md-2 col-lg-2 control-label">{{ 'field.email' | translate }}</label>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <input formControlName="email" type="email" id="email" name="email" class="form-control">
    </div>

    <div [hidden]="!hasWrongValue('email')" class="col-xs-4 col-sm-4 col-md-3 col-md-3">
      <span class="help-block">{{ getFieldError('email') | translate }}</span>
    </div>
  </div>

  <div [ngClass]="{ 'has-error': hasWrongValue('password'), 'has-success': hasCorrectValue('password') }"
       class="form-group has-success">
    <label for="password" class="col-xs-3 col-sm-3 col-md-2 col-lg-2 control-label">{{ 'field.password' | translate }}</label>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <input formControlName="password" type="password" id="password" name="password" class="form-control">
    </div>
    <div [hidden]="!hasWrongValue('password')" class="col-xs-4 col-sm-4 col-md-3 col-md-3">
      <span class="help-block">{{ getFieldError('password') | translate }}</span>
    </div>
  </div>

  <div [ngClass]="{ 'has-error': hasWrongValue('repeatPassword'), 'has-success': hasCorrectValue('repeatPassword') }"
       class="form-group">
    <label for="repeat-password" class="col-xs-3 col-sm-3 col-md-2 col-lg-2 control-label">{{ 'field.repeatPassword' | translate }}</label>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <input formControlName="repeatPassword" type="password" id="repeat-password" name="repeat-password" class="form-control">
    </div>
    <div [hidden]="!hasWrongValue('repeatPassword')" class="col-xs-4 col-sm-4 col-md-3 col-md-3">
      <span class="help-block">{{ getFieldError('repeatPassword') | translate }}</span>
    </div>
  </div>

  <input type="submit" [disabled]="!form.valid" value="{{ 'action.createAccount' | translate }}" class="btn btn-primary col-sm-offset-3">
</form>
