
<div class="col-sm-offset-1">
  <p>
    {{'home.descripion' | translate}}
  </p>
  <p>
    We support <a href="https://bitso.com/">BITSO</a> and <a href="https://bittrex.com/">BITTREX</a>, we plan to keep adding support for more exchanges, you can even request and vote for your favorite!
  </p>

  <hr />
  <p [hidden]="authService.isAuthenticated">
    What are you waiting? Create a <a routerLink="/new-account">new account</a> or 
    <a routerLink="/login">login</a> to start receiving alerts.
  </p>
  <hr />
</div>
