<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <!-- TODO: Use custom logo -->
        <img src="https://files.coinmarketcap.com/static/img/coins/32x32/bitcoin.png" class="logo">
      </a>
      <span class="navbar-brand">Crypto Coin Alerts</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          Link 1
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="#">Link 2</a>
      </li>
    </ul>
    <ul [hidden]="isAuthenticated()" class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/new-account">New account</a>
      </li>
      <li>
        <a routerLink="/login">Log in</a>
      </li>
    </ul>
    <ul div [hidden]="!isAuthenticated()" class="nav navbar-nav navbar-right">
      <li>
        <button type="button" class="btn btn-link">{{getAuthenticatedUser()}}</button>
      </li>
      <li>
        <button type="button" class="btn btn-link" (click)="logout()">Log out</button>
      </li>
    </ul>
  </div>
</nav>
