<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <!-- TODO: Use custom logo -->
        <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" class="logo">
      </a>
      <span class="navbar-brand">Crypto Coin Alerts</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          Link 1
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="#">Link 2</a>
      </li>
      <li class="dropdown" dropdown>
        <a dropdownToggle role="button">
          Dropdown
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a href="#">Item 1</a>
          </li>
          <li>
            <a href="#">Item 2</a>
          </li>
          <li>
            <a href="#">Item 3</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">Item 4</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">Item 5</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
