/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

.app-content {
  padding-top: 70px;
}
