<div class="col-sm-offset-1">

  <legend>Your alerts</legend>
  <div class=text-left>
    <a routerLink="/new-fixed-price-alert" class="btn-info btn">{{'action.newAlert' | translate}}</a>
  </div>

  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-xs-2 col-sm-2 col-md-1 col-lg-1">{{'field.exchange' | translate}}</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{'field.currency' | translate}}</th>
        <th class="col-xs-3 col-sm-3 col-md-2 col-lg-2">{{'field.priceCondition' | translate}}</th>
        <th class="col-xs-3 col-sm-3 col-md-2 col-lg-2">{{'field.basePrice' | translate}}</th>
        <th class="col-xs-3 col-sm-3 col-md-6 col-lg-6"></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of asyncItems | async | paginate: { id: 'fixedPriceAlerts', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }">
        <td>{{item.exchange}}</td>
        <td>{{item.currency}}</td>
        <td [hidden]="item.isGreaterThan">{{'field.below' | translate}} {{item.price}} {{item.market}}</td>
        <td [hidden]="!item.isGreaterThan">{{'field.above' | translate}} {{item.price}} {{item.market}}</td>
        <td [hidden]="!item.basePrice">{{item.basePrice}} {{item.market}}</td>
        <td [hidden]="item.basePrice"></td>
        <td></td> <!-- TODO: Delete button-->
      </tr>
    </tbody>
  </table>
  
  <div class="has-text-centered">
    <pagination-controls (pageChange)="getPage($event)" id="fixedPriceAlerts"></pagination-controls>
  </div>
</div>
